* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f8;
    display: grid;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .8rem;
    gap: 1.25rem;
    grid-template-areas: "Main" "Footer";
    margin: 0 auto;
    min-height: 100vh;
    padding: 1.25rem;
    place-content: center;
}

blockquote p:nth-child(1) {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

figure {
    display: flex;
    align-items: center;
}

main {
    display: grid;
    grid-template-areas: "Daniel" "Jonathan" "Jeanette" "Patrick" "Kira";
    gap: 1.25rem;
    max-width: 69.375rem;
    min-height: 100vh;
}

section {
    border-radius: 0.625rem;
    padding: 2.188rem; 
}

.daniel {
    background-color: #7541c8;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: top 0% left 80%;
    background-repeat: no-repeat;
    grid-area: Daniel;
}

.jonathan {
    background-color: #48556a;
}

.jeanette {
    background-color: #fff;
}

.patrick {
    background-color: #19202d;
}

.kira {
    background-color: #fff;
}

.jonathan img,
.jeanette img,
.kira img {
    border-radius: 50%;
    height: 1.875rem;
    margin-right: 0.625rem;
    width: 1.875rem;
}

.daniel img,
.patrick img {
    border: 2px solid #a775f1;
    border-radius: 50%;
    height: 1.875rem;
    margin-right: 0.625rem;
    width: 1.875rem;
}

.daniel span:nth-child(1),
.jonathan span:nth-child(1),
.patrick span:nth-child(1) {
    color: #fff;
    display: block;
}

.jeanette span:nth-child(1),
.kira span:nth-child(1) {
    display: block;
    color: #48556a;
}

.daniel span:nth-child(2),
.jonathan span:nth-child(2),
.patrick span:nth-child(2) {
    display: block;
    color: rgba(255, 255, 255, 0.5);
}

.jeanette span:nth-child(2),
.kira span:nth-child(2) {
    color: rgba(72, 85, 106, 0.5);
}

.main-text {
    color: #fff;
    font-weight: 600;
    margin: .625rem 0 1.25rem 0;
}

.jeanette .main-text,
.kira .main-text {
    color: #48556a;
}

.secondary-text {
    color: #cfcfcf;
    line-height: 1.5;
}

.jeanette .secondary-text,
.kira .secondary-text {
    color: rgba(72, 85, 106, 0.5);
}


@media screen and (min-width: 679px) {

    main {
        grid-template-areas: "Daniel Patrick" "Jonathan Jeanette" "Kira Kira";
        grid-template-columns: repeat(2, 1fr);
    }

    .daniel {
        grid-area: Daniel;
    }

    .jonathan {
        grid-area: Jonathan;
    }
    
    .jeanette {
        grid-area: Jeanette;
    }
    
    .patrick {
        grid-area: Patrick;
    }
    
    .kira {
        grid-area: Kira;
    }

}

@media screen and (min-width: 1110px) {
    main {
        grid-template-areas:
            "Daniel Daniel Jonathan Kira"
            "Jeanette Patrick Patrick Kira";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 35.75rem;
    }
    .daniel {
        grid-area: Daniel;
    }

    .jonathan {
        grid-area: Jonathan;
    }
    
    .jeanette {
        grid-area: Jeanette;
    }
    
    .patrick {
        grid-area: Patrick;
    }
    
    .kira {
        grid-area: Kira;
    }
}